databricks-pipeline-samukapsilva/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "databricks-pipeline-samukapsilva"
		},
		"datafactory_databricks_link_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'datafactory_databricks_link'"
		},
		"datafactory_databricks_link_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0727-224457-7z5cowjy"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/samukapsilva-datalake-ingestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ingestao-camada-bronze",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/samukapsilva@gmail.com/pipeline-databricks-azure/notebooks/land_to_bronze"
						},
						"linkedServiceName": {
							"referenceName": "datafactory_databricks_link",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ingestao-camada-silver",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "ingestao-camada-bronze",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/samukapsilva@gmail.com/pipeline-databricks-azure/notebooks/bronze_to_silver"
						},
						"linkedServiceName": {
							"referenceName": "datafactory_databricks_link",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datafactory_databricks_link')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/datafactory_databricks_link')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-1002235460996306.6.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('datafactory_databricks_link_accessToken')]"
					},
					"existingClusterId": "[parameters('datafactory_databricks_link_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger_databricks_ingestion')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "samukapsilva-datalake-ingestion",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 1,
						"startTime": "2023-07-28T23:33:00",
						"timeZone": "GMT Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/samukapsilva-datalake-ingestion')]"
			]
		}
	]
}